#section-title {
  font-size: 7vw;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 400;
}

.link {
  font-size: 4vw;
  font-family: 'Red Hat Display', sans-serif;
  color: #ff4c29;
  margin-bottom: 10px;
}

.github {
  display: flex;
  align-items: center;
  flex-direction: column;
}

img {
  width: 98%;
  /* margin: 1%; */
}
