#EmberQL {
  color: #082032;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #082032;

}
#Title {
  color: whitesmoke;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 8vw;
  font-weight: 600;
}
#Paragraph {
  width: 50vw;
  color: rgb(196, 196, 196);
  font-style: italic;
  padding-bottom: 4vw;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 14px;
}
#Bullets {
  color: whitesmoke;
  font-weight: bold;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 16px;
  margin-left: 6vw;
}
button {
  width: 8em;
  height: 3em;
  border-radius: 8px;
  color: whitesmoke;
  font-weight: bolder;
  font-family: 'Red Hat Display', sans-serif;
  margin-top: 10%;
  margin-bottom: 10%;
}
#button1 {
  background-color: #ff4c29;
}
#button2 {
  border: 2px solid whitesmoke;
  background-color: #082032;
  color: whitesmoke;
}
