#section-title {
  font-size: 8vw;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 400;
}

.feature-container {
  background-color: #082032;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 5%;
}

.features {
  display: flex;
  align-items: center;
}

.feature-img {
  border-radius: 50%;
  margin-bottom: 4vh;
  box-shadow: 5px 7px 14px black;
  max-width: 100%;
  width: auto;
  height: auto;
}

.single-feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 4vw;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 2vw;
}
