nav {
  background-color: #082032;
  padding: 0;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: colum;
  align-items: center;
  justify-content: space-evenly;
  border: 3px solid #ff4c29;
}
.nav-el {
  color: white;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 800;
  display: flex;
  border-radius: 8px;
}
