/* Background #082032 */
/* Blue-Gray Accent #2C394B */
/* Gray #334756 */
/* Ember #FF4C29 */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #334756;
  color: white;
  font-family: sans-serif;
}

.demo-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

.graph-container {
  display: flex;
  flex-direction: column;
  border: 1px black solid;
  margin: 50px;
  flex: 1;
  padding: 50px;
  background-color: #082032;
}

.query-container {
  display: flex;
  flex-direction: column;
  border: 1px black solid;
  margin: 50px;
  flex: 0.5;
  padding: 50px;
  background-color: #082032;
  align-items: center;
}

#query-dropdown {
  width: 200px;
  text-align: center;
  font-size: 20px;
}

#submit-query {
  margin: 20px;
  width: 300px;
  border: none;
  background-color: #ff4c29;
  color: black;
  height: 100px;
  font-size: 34px;
}

.clear-buttons-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

.clear-btn {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 10px;
}

#clear-graph {
  background-color: #2c394b;
}

#clear-cache {
  background-color: #334756;
}

.text-area {
  width: 75%;
  height: 300px;
  overflow: scroll;
  font-size: 18px;
}

h1 {
  color: red;
}
